body {
    font-family: 'Calibri', sans-serif;
    text-align: center;
    background-image: url('./Photos/main-bg.jpg');
    color: white
}

ol {
    list-style: none;
    font-size: medium
}

li {
    display: inline;
    margin-right: 50px;
    margin-left: 50px;
    text-transform: uppercase; 
    font-weight: bold; 
    font-size: larger
}
#bodyParagraph {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 60px;
    text-align: justify
}
/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
#eventInfo{ 
    text-align: center;
    line-height: 40%
}
a {
    text-decoration: none;
    color: white
}

a:visited {
    color : white
}


#form {
    width: 50%;
} 