body {
    font-family: 'Calibri', sans-serif;
    text-align: center;
    background-image: url('../src/Photos/main-bg.jpg');
    color: white
}

ol {
    list-style: none; 
}

li {
    display: inline;
    margin-right: 50px;
    margin-left: 50px;
    text-transform: uppercase;
    font-weight: bold;  
}

#header {
    font-size: 45pt;
    margin: 1.5;
    position: absolute;
    top: 50%;
    left: 25%;
    right: 25%
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

a {
    text-decoration: none;
    color: white
}

a:visited {
    color : white
}


#form {
    width: 50%;
}