body {
    font-family: 'Calibri', sans-serif;
    text-align: center;
    background-image: url('../src/Photos/viol.jpg');
    color: white
}

ol {
    list-style: none;
}

li {
    display: inline;
    margin-right: 50px;
    margin-left: 50px;
    text-transform: uppercase;
    font-weight: bold;  
}
